page-my-credit {
    .toolbar-title-md{
        margin-left: -24px;
    }
    .toolbar-background{
        background: white;
    }
    .fixed-content{
        background: #fcfcfc;
    }
    .bar-button-default-ios{
        color: black;
    }




    .change{
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -10px;
        font-size: 1.7rem;
        color: #424242;
    }
    .bank_card{
        width: 100%;
        height: 132px;
        background: #377ae8;
        border-radius: 10px;
        color: white;
        position: relative;
        margin-bottom: 1rem;
    }
    .card_bank{
        margin-left: 26px;
        padding-top: 13px;
    }
    .card_bank span{
        font-size: 21px;
    }
    .card_type{
        font-size: 18px;
        padding-left: 68px;
    }
    .card_code{
        position: absolute;
        bottom: 20px;
        right: 30px;
        font-size: 16px;
        box-sizing: border-box;
    }
    // .card_code img{
    //     margin-right: 20px;
    // }
    .card_code span{
        margin-left: 20px;
    }

    .addcard{
        width: 300px;
        height: 70px;
        border-radius: 1rem;
        border: 2px solid #E6E6E6;
        font-size: 53px;
        color: #E6E6E6;
        text-align: center;
        line-height: 70px;
        position: relative;
        left: 50%;
        margin-left: -150px;
        margin-top: 30px;
    }


    // 选项卡
    .radio {
        position: absolute;
        line-height: 30px;
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
    }
    
    input[type="radio"] {
        width: 20px;
        height: 20px;
        opacity: 0;
    }
    
    label {
        position: absolute;
        left: 5px;
        top: 3px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #999;
    }
    
    /*设置选中的input的样式*/
    /* + 是兄弟选择器,获取选中后的label元素*/
    input:checked+label { 
        background-color: #fe6d32;
        border: 1px solid #fe6d32;
    }
    
    input:checked+label::after {
        position: absolute;
        content: "";
        width: 5px;
        height: 10px;
        top: 3px;
        left: 6px;
        border: 2px solid #fff;
        border-top: none;
        border-left: none;
        transform: rotate(45deg)
    }


    
}
