<ion-header>
  <div class="headBox">
    <div class="topBox">
      <span>打借条</span>
     <div class="news" (click)="toNews()">
      <img class="headImg" src="../../assets/imgs/home/2.png" />
     </div>

    </div>
    <div class="monBox" (click)="tocharge()">
      <span>账号余额(元)</span>
      <span class="fontBig monFont">1000000.00</span>
    </div>
    <ul class="headUl">
      <li (click)="ToDaihuan()">
        <span>代还金额(元)</span>
        <span class="fontBig">1000000000000</span>
      </li>
      <li (click)="ToDaishou()">
        <span>待收金额(元)</span>
        <span class="fontBig">100000000.00</span>
      </li>
    </ul>
  </div>
  <!-- <ul class="manUl loan">
    <li><span class="bor">收到的借条</span></li>
    <li><span>发出的借条</span></li>
  </ul> -->
  <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="appType">
        <ion-segment-button value="shou" style="margin-right: 2rem;">
           <span> 收到的借条</span>
        </ion-segment-button>
        <ion-segment-button value="fa">
            <span>发出的借条</span>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-refresher (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content
      pullingText="刷新.."
      refreshingText="刷新中...">


      
    </ion-refresher-content>
  </ion-refresher>

  <div class="manBox" *ngFor="let item of getItems(appType)">
      <ul class="manUl" (click)="toLend(item.isQueren)" >
        <li style="width:35%">
          <p class="orgColo">
            <span>借款金额：</span>
            <span>{{item.jiekuan}}元</span>
          </p>
          <p>
            <span>到期应还：</span>
            <span>{{item.huankuan}}元</span>
          </p>
          <p>
            <span>借款人：</span>
            <span>{{item.jiekuanren}}</span>
          </p>
          
        </li>
        <li><div class="shuBox"></div></li>
        <li>
            <p>
                <span>借款日期：</span>
                <span>{{item.jiekuandate}}</span>
              </p>
              <p>
                  <span>还款日期：</span>
                  <span>{{item.huankuandate}}</span>
              </p>
              <p>
                <span>年利率：</span>
                <span>{{item.nianlilv}}%</span>
              </p>
        </li>
      </ul>
      
      <div *ngIf="item.isQueren">
         
          <div class="querBtnBox">
              <span class="orgColo ta" (click)="toLiabilities()">查看他的负债</span>
            <button class="querBtn">确认借条</button>
          </div>
      </div>

      <div *ngIf="!item.isQueren">
      <div class="dengImgBox">
       <div class="dBox">
          <img class="querImg" src="../../assets/imgs/home/3.png"/>
          <span class="orgColo qu">等待确认</span>
       </div>
      </div>
    </div>

    </div>
  
 



</ion-content>
