page-mine {
    .header{
        background: #564eF1;
        height: 200px;
        padding-top: 38px;
    position: relative;
    color: #fefefe;
    text-align: center;
    }
    .content{
        padding: 0 !important;
    }
    .scroll-content{
padding: 0 !important;
    }
    .toolbar-background{
        background: #564eF1;
        height: 200px;
    }
    .toolbar-ios ion-title{
        position: relative;
        
    }
    ion-navbar.toolbar{
        height: 200px;
    }
    .toolbar-title{
        margin-top: -10px;
        margin-bottom: 15px;
    }
    .toolbar-title,.toolbar-content{
        color: #fefefe;
    }
    .toolbar-title-ios{
        font-weight: 100;
        font-size: 2rem
    }




    .scroll-content{
        // position: initial;
        // height: 100%;
    }
    .mine_card{
        width: 95%;
        position: absolute;
        left: 50%;
        margin-left: -48%;
        top: 180px;
        z-index: 200;
        height: 146px;
    }
    .card_left{
        float: left;
        width: 50%;
        height: 100%;
    }
    .card_right{
        float: right;
        width: 50%;
        height: 100%;
    }
    ion-card img{
        width: initial;
        margin: 0 auto;
    }
    ion-card-content{
        height: 100%;
        position: relative;
    }
    .card_left p,.card_right p{
        position: absolute;
        bottom: 0;
        // margin-left: 38px;
        margin-bottom: 13px;
    }
    .card_right p{
        left: 50%;
    margin-left: 13%;
    }
    .card_left p{
        left: 43%;
    margin-left: -25%;
    }
    .line{
        position: absolute;
        background: #b3b3b3;
        width: 1px;
        height: 65px;
        left: 50%;
        top: 50%;
        margin-top: -32px;
    }

    ion-list{
        margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
    z-index: 9999999999;
    position: relative;
    width: 96%;
    left: 50%;
    margin-left: -50% !important;
    margin-top: 152px !important;
    }
    .list-md{
        width: 100%
    }
    .list-ios > .item-block:first-child{
        border: none;
    }
    .list-ios > .item-block:last-child{
        border: none;
    }
    .list{
        text-align:left;
    }
    .list-ios,.list-md{
        margin: 0;
    }



    .list-md > .item-block:last-child .item-inner{
        border-bottom: 1px solid #dedede;
    }
    .list-ios > .item-block:last-child .item-inner{
        border-bottom: 0.55px solid #c8c7cc;
    }
    


    .mine_menu span:nth-of-type(1){
        position: relative;
    top: -5px;
    left: 10px;
    }

    .arrow_right{
        float: right;
        margin-top: 10px;
    }
}
